@import "variables";
@import "mixin";

.service {
  @include reset-list;
  background-color: $white;

  &__title {
    @include reset;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
  }

  &__text {
    @include reset;
    font-size: 14px;
    line-height: 21px;
    color: $grey;
  }
}
