.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 16px 32px;

  font: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  vertical-align: middle;
  color: $text-secondary;
  text-transform: uppercase;

  background-color: $main-color;
  border: none;
  cursor: pointer;
}
