.control-panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 87%;
  min-height: 66px;
  margin: 0 auto;
  padding: 0 22px;

  background-color: $input-bg;
}

.control-panel__progress-bar-wrapper {
  position: absolute;
  bottom: 66px;
  left: 50%;
  padding: 0 20px;

  width: 87%;
  height: 46px;
  padding-top: 22px;

  background-color: rgba(0, 0, 0, 0.6);
  transform: translateX(-50%);
}

.control-panel__progress-bar {
  width: 100%;
  height: 3px;

  background-color: rgba(255, 255, 255, 0.2);
}

.control-panel__toggle {
  position: absolute;
  top: 50%;
  left: 57px;

  width: 9px;
  height: 9px;
  padding: 0;

  background-color: $basic-white;
  border: none;
  border-radius: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.control-panel__icon {
  fill: #5c6870;
}

.control-panel__button {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;

  &--subtitles {
    margin-left: auto;
    margin-right: 30px;
  }

  &:hover .control-panel__icon {
    fill: #333333;
  }

  &:focus .control-panel__icon {
    fill: #333333;
  }

  &:active .control-panel__icon {
    fill: #333333;
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .control-panel {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 93px;
    padding: 0 42px 0 34px;

    background-color: rgba(0, 0, 0, 0.6);
  }

  .control-panel__progress-bar-wrapper {
    position: static;
    left: 0;
    padding-right: 0;
    padding-left: 0;

    width: 68%;
    margin-left: 37px;

    background-color: transparent;
    transform: translateX(0);
  }

  .control-panel__toggle {
    left: 113px;
  }

  .control-panel__icon {
    fill: #ffffff;
  }

  .control-panel__button {
    &:hover .control-panel__icon {
      opacity: 0.6;
    }

    &:focus .control-panel__icon {
      opacity: 0.6;
    }

    &:active .control-panel__icon {
      opacity: 0.3;
    }
  }
}
