.custom-input {
  position: absolute;
  top: 50%;

  width: 55px;
  height: 55px;
  margin-left: -78px;

  background-color: $input-bg;
  transform: translateY(-54%);
  cursor: pointer;

  &--radio {
    border-radius: 50%;
  }

  input[type="radio"]:checked + &--radio {
    &::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      background-color: #000000;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  input[type="radio"]:hover + &--radio {
    background-color: #e5e5e5;
  }

  input[type="radio"]:focus + &--radio {
    box-shadow: 0 0 0 3px #d5d5d5;
  }

  input[type="radio"]:active + &--radio {
    background-color: #d5d5d5;

    &::before {
      opacity: 0.3;
    }
  }

  &--checkbox {
    border-radius: 5px;
  }

  input[type="checkbox"]:checked + &--checkbox {
    background-color: $input-bg;

    &::before {
      content: "";
      position: absolute;
      height: 55px;
      width: 55px;
      background-image: url("../img/icon-tick.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }

  input[type="checkbox"]:hover + &--checkbox {
    background-color: #e5e5e5;
  }

  input[type="checkbox"]:focus + &--checkbox {
    box-shadow: 0 0 0 3px #d5d5d5;
  }

  input[type="checkbox"]:active + &--checkbox {
    background-color: #d5d5d5;
  }
}

@media (min-width: $laptop) {
  .custom-input {
    margin-left: -72px;

    &--checkbox {
      margin-left: -77px;
    }
  }
}
