.feedback {
  padding: 0 20px;
  margin-bottom: 40px;

  &--border {
    border-bottom: 1px solid $border;
  }
}

.feedback__title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
  display: block;
}

@media (min-width: $tablet) {
  .feedback {
    padding: 0;
    width: 100%;
    margin-bottom: 49px;
  }

  .feedback__title {
    font-size: 21px;
    margin-bottom: 53px;

    display: flex;
    align-items: center;

    &::before {
      flex-grow: 1;
      flex-shrink: 0;
      content: "";
      height: 1px;
      background-color: $border;
      margin-right: 75px;
    }

    &::after {
      flex-grow: 1;
      flex-shrink: 0;
      content: "";

      height: 1px;
      background-color: $border;
      margin-left: 75px;
    }
  }
}
