.footer {
  margin-bottom: 40px;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.footer__hashtag {
  @include reset;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 32px;

  &:focus {
    color: $main-color;
  }

  &:hover {
    color: $main-color;
  }

  &:active {
    color: #b2b2b2;
  }
}

.footer__copyright {
  @include reset;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.footer__partner-logo {
  margin-left: 12px;

  & svg {
    &:hover {
      fill: $main-color;
    }

    &:focus {
      fill: $main-color;
    }

    &:active {
      fill: #b2b2b2;
    }
  }
}

@media (min-width: $tablet) {
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px;
  }

  .footer__hashtag {
    margin-bottom: 10px;
  }
}

@media (min-width: $laptop) {
  .footer__wrapper {
    padding: 0 120px;
  }
}
