.gallery__item {
  position: relative;

  padding: 21px 20px 16px 20px;

  border-bottom: 1px solid $border;
}

.gallery__caption {
  @include reset;
}

.gallery__image {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 13px;

  object-fit: cover;
}

.gallery__item-box {
  @include reset;
}

.gallery__like-count {
  @include reset;
}

.gallery__text {
  @include reset;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
}

.gallery__owner {
  @include reset;
  margin-bottom: 11px;

  font-size: 14px;
  line-height: 24px;
  color: $text-extra;
  text-transform: none;
}

.gallery__like-button {
  width: 23px;
  height: 21px;
  margin-right: 10px;

  background-color: transparent;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-position: top center;
  border: none;
  cursor: pointer;
}

@media (min-width: $tablet) {
  .gallery {
    display: grid;
    align-items: center;
    padding: 0 60px;
    margin-bottom: 62px;

    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }

  .gallery__item {
    padding: 0;

    border: none;

    &:first-of-type {
      grid-column: 1/-1;
    }
  }

  .gallery__image {
    margin: 0;
    height: 267px;
  }

  .gallery__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;

    background-color: $input-bg;
  }

  .galley__owner {
    margin: 0;
  }

  .gallery__like-button {
    margin-right: 5px;
  }
}
