.header {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 56px;
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -28px;
  order: 2;
}

.header__nav {
  background-color: $main-color;
}

.header__toggle {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 20px;
  top: 17px;

  background-color: transparent;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: top center;
  border: none;
  cursor: pointer;
}

.header__nav-list {
  @include reset-list;
}

.header__nav-item {
  &:not(:last-child) {
    margin-bottom: 1px; //1 здесь даю маргин всем кроме последнего
  }
}

.header__link {
  display: block;
  text-align: center;
  padding: 10px 10px 5px 10px;
  word-wrap: break-word;

  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: $text-secondary;

  &--active {
    cursor: default;
  }
}

@media (min-width: $tablet) {
  .header {
    padding: 0;
  }

  .header__logo {
    top: 0;
  }

  .header__nav {
    background-color: $text-secondary;
    width: 100%;
  }

  .header__toggle {
    display: none;
  }

  .header__nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .header__nav-item {
    flex-basis: 20%;

    &:not(:last-child) {
      //3 а с таким селектором работает, почему?
      margin: 0;
    }

    margin: 0; //2 здесь обнуляю маргины ВСЕМ, не работает так

    &:nth-child(3) {
      margin-left: auto;
    }
  }

  .header__link {
    color: $text-main;
    font-size: 14px;
    line-height: 26px;
    padding-top: 16px;
    padding-bottom: 14px;
  }
}
