.header {
  position: relative;
  padding-bottom: 54px;
}

.header__logo {
  position: absolute;
  bottom: -28px;
  left: 50%;

  order: 1;

  transform: translateX(-50%);
  z-index: 20;
}

.header__nav {
  background-color: $main-color;
}

.header__toggle {
  position: absolute;
  top: 17px;
  right: 20px;

  width: 22px;
  height: 22px;

  background-color: transparent;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: top center;
  border: none;
  cursor: pointer;
}

.header__nav-list {
  @include reset-list;
  width: 100%;
}

.header__nav-item {
  position: relative;

  margin-bottom: 2px;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: -3px;

    width: 100%;

    border-top: 1px solid #678fa8;
    border-bottom: 1px solid #9ac2db;
  }

  &--shadow::after {
    content: "";
    height: 7px;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    bottom: 0;
    position: absolute;
  }
}

.header__nav-link {
  display: block;
  padding: 10px 10px 4px 10px;

  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: $extra-text;
  word-wrap: break-word;

  &--active {
    cursor: default;
  }

  &:hover {
    background-color: #669ec0;
  }

  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba($extra-text, 0.3);
  }
}

@media (min-width: $tablet) {
  .header {
    padding-bottom: 0;
  }

  .header__logo {
    top: 0;
  }

  .header__toggle {
    display: none;
  }

  .header__nav {
    background-color: inherit;
  }

  .header__nav-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .header__nav-item {
    flex-basis: 20%;

    &:nth-child(4n + 3) {
      margin-left: auto;
    }

    &:not(:last-child)::after {
      content: none;
    }

    &--shadow::after {
      content: none;
    }
  }

  .header__nav-link {
    font-size: 14px;
    color: $main-text;

    &--active {
      color: #766357;

      &:active {
        color: #766357;
        opacity: 0.3;
      }

      &:hover {
        color: #604e43;
      }

      &:focus {
        color: #604e43;
      }
    }

    &:hover {
      background-color: transparent;
      color: #81b3d2;
    }

    &:focus {
      background-color: transparent;
      color: #81b3d2;
    }

    &:not(&--active):active {
      background-color: transparent;
      color: rgba($basic-black, 0.3);
    }
  }
}

@media (min-width: $laptop) {
  .header {
    padding: 0 40px;
  }
}
