.header {
  display: flex;
  flex-direction: column;
}

.header__toggle {
  box-sizing: border-box;
  width: 22px;
  height: 22px;

  background-color: transparent;
  background-image: url("/img/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: top center;
  border: none;
  cursor: pointer;
}

.header__logo {
  order: 2;
}

.header__nav-list {
  @include reset-list;
  background-color: $blue;
}

.header__link {
  display: inline-block;

  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: $white;
  text-transform: uppercase;

  &--active {
    cursor: default;
  }
}
