.heading {
  &--photo {
    border-bottom: 1px solid $border;
  }

  &--modal {
    border-bottom: 1px solid $border;
  }
}

.heading__creative-wrapper {
  height: 389px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 100%;
  padding-top: 90px;
  background-repeat: no-repeat;

  &--photo {
    height: 160px;
    padding-top: 52px;
  }

  &--modal {
    height: 160px;
    padding-top: 52px;
  }
}

.heading__creative {
  margin: 0 auto;
}

.heading__text-wrapper {
  text-align: center;
  padding: 33px 10px;

  &--photo {
    padding: 31px 10px;
  }

  &--modal {
    padding-top: 35px;
    padding-bottom: 16px;
  }
}

.heading__title {
  @include reset;
  font-size: 18px;
  margin-bottom: 31px;

  &--photo {
    margin-bottom: 28px;
  }

  &--modal {
    margin-bottom: 28px;
  }
}

.heading__reasons {
  @include reset;

  &--photo {
    line-height: 24px;
  }

  &--modal {
    line-height: 24px;
  }
}

@media (min-width: $tablet) {
  .heading {
    border: none;
  }

  .heading__creative-wrapper {
    height: 518px;
    background-size: cover;
    padding-top: 76px;

    &--photo {
      height: 290px;
      padding-top: 93px;
    }

    &--modal {
      height: 290px;
      padding-top: 93px;
    }
  }

  .heading__creative {
    width: 461px;
    height: auto;
  }

  .heading__text-wrapper {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 45px;
    padding-bottom: 53px;

    &--photo {
      padding-top: 65px;
      padding-bottom: 75px;
    }

    &--modal {
      padding-top: 65px;
      padding-bottom: 87px;
    }
  }

  .heading__title {
    font-size: 21px;
    margin-bottom: 31px;

    &--photo {
      font-size: 30px;
      margin-bottom: 33px;
    }

    &--modal {
      font-size: 30px;
    }
  }
}
