.main__page-intro {
  margin-bottom: 30px;
  padding-top: 90px;
  padding-bottom: 85px;

  text-align: center;

  background-color: $main-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main__title {
  @include reset;
  margin-bottom: 40px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.main__text {
  @include reset;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 21px;
  color: $text-grey;
}
