.modal {
  margin-bottom: 60px;
}

.modal__fieldset {
  padding: 21px 20px 26px 20px;

  border-bottom: 1px solid $border;

  &--review {
    padding-bottom: 40px;
  }

  &--seen-places {
    padding-top: 16px;
    padding-bottom: 38px;
  }

  &--text-area {
    padding-bottom: 40px;

    border: none;
  }
}

.modal__list {
  @include reset-list;
}

.modal__title {
  @include reset;
  display: block;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  &--contacts {
    margin-bottom: 16px;
  }

  &--review {
    margin-bottom: 37px;
  }

  &--seen-places {
    margin-bottom: 36px;
  }

  &--text-area {
    margin-bottom: 15px;
  }
}

.modal__list-item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 23px;
  }

  &--contacts {
    flex-flow: column wrap;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &--review {
    &:not(:last-child) {
      margin-bottom: 43px;
    }
  }

  &--seen-places {
    &:not(:last-child) {
      margin-bottom: 54px;
    }
  }
}

.modal__caption {
  position: relative;

  margin-right: 15px;

  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: $text-extra;

  &--contacts {
    margin: 0;
    margin-bottom: 10px;
    padding-left: 21px;
  }

  &--review {
    margin: 0;
    padding-left: 78px;

    font-weight: bold;
    font-size: 18px;
    text-transform: none;
  }

  &--seen-places {
    margin: 0;
    padding-left: 78px;

    font-weight: bold;
    font-size: 18px;
    text-transform: none;
  }
}

.modal__input {
  flex-grow: 1;
  width: 100%;
  padding: 17px 22px 12px 22px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  background-color: $input-bg;
  border: none;

  &--hidden {
    position: absolute;

    appearance: none;

    & + .modal__radio-icon {
      position: absolute;
      bottom: 50%;

      width: 55px;
      height: 55px;
      margin-left: -78px;

      background-color: $input-bg;
      border-radius: 50%;
      transform: translateY(50%);
      cursor: pointer;
    }

    &:checked + .modal__radio-icon {
      background-color: $text-main;
      border: 17px solid $input-bg;
    }

    & + .modal__checkbox-icon {
      position: absolute;
      bottom: 50%;

      width: 55px;
      height: 55px;
      margin-left: -78px;

      background-color: $input-bg;
      border-radius: 5px;
      transform: translateY(50%);
      cursor: pointer;
    }

    &:checked + .modal__checkbox-icon {
      background-image: url("../img/icon-tick.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }

  &--text-area {
    min-height: 160px;
    padding: 13px 20px 30px 20px;

    resize: none;

    @media (min-width: $tablet) {
      padding-top: 22px;
    }
  }
}

.modal__button {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 280px;
}

.modal__note {
  display: none;
}

@media (min-width: $tablet) {
  .modal {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 81px;
    padding: 0 60px;
  }

  .modal__fieldset {
    &--user-id {
      flex-basis: 41%;
      padding: 0;

      border: none;
    }


    &--review {
      flex-basis: 50%;
      order: -1;
      padding: 0;
      padding-bottom: 15px;

      border: none;
      border-right: 1px solid $border;
    }

    &--contacts {
      width: 100%;
      padding: 0;
      padding-top: 72px;

      border: none;
    }

    &--seen-places {
      width: 100%;
      margin-bottom: 22px;
      padding: 0;
      padding-top: 51px;

      border: none;
    }

    &--text-area {
      width: 100%;
      margin-bottom: 52px;
      padding: 0;
    }
  }

  .modal__title {
    font-size: 21px;

    &--user-id {
      margin-bottom: 57px;

      text-align: left;
    }

    &--contacts {
      margin-bottom: 20px;
    }

    &--review {
      margin-bottom: 71px;

      text-align: left;
    }

    &--seen-places {
      margin-bottom: 59px;
    }

    &--text-area {
      margin-bottom: 50px;
    }
  }

  .modal-list {
    &--seen-places {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;
      width: 70%;
      margin: 0 auto;
    }
  }

  .modal__list-item {
    &--contacts {
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }

    &--review {
      &:not(:last-child) {
        margin-bottom: 52px;
      }
    }

    &--seen-places {
      width: 44%;

      &:not(:last-child) {
        margin-bottom: 63px;
      }
    }

    .modal__caption {
      &--review {
        padding-left: 75px;
      }
    }

    .modal__input {
      &--hidden {
        & + .modal__radio-icon {
          margin-left: -75px;
        }
      }
    }
  }

  .modal__button {
    display: block;
    max-width: 324px;
    margin: 0;
  }

  .modal__note {
    display: block;
    align-self: center;
  }
}
