.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  text-align: center;
  outline: 1px solid black;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15), 0 -1px 10px 0 rgba(0, 1, 1, 0.15);

  &--success {
    // padding: 33px 100px 49px 100px;
    background-color: $basic-white;
  }

  &--failed {
    display: none;
  }
}

.popup__title {
  @include reset;
  font-weight: bold;

  font-size: 30px;
  line-height: 40px;
  margin-bottom: 25px;
}

.popup__text {
  @include reset;
  width: 100%;
  max-width: 420px;
  line-height: 24px;
  margin-bottom: 40px;
}

.popup__button-wrapper {
  background-color: #f2f2f2;
  padding-top: 45px;
}
