.services {
  @include reset-list;
  padding: 24px 20px;
  margin-bottom: 10px;
}

.services__item {
  padding-left: 49px;
  padding-top: 16px;
  position: relative;
  padding-right: 20px;

  &:not(:last-child) {
    margin-bottom: 11px;
  }

  &::before {
    content: "";
    width: 39px;
    height: 37px;

    position: absolute;
    left: 0;
    top: 6px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }

  &--house {
    &::before {
      background-image: url("../img/icon-house.svg");
    }
  }

  &--gift {
    &::before {
      background-image: url("../img/icon-gift.svg");
      top: 5px;
      left: 6px;
    }
  }

  &--food {
    &::before {
      background-image: url("../img/icon-burger.svg");
      top: 10px;
    }
  }
}

.services__title {
  @include reset;
  font-size: 18px;
  margin-bottom: 15px;
}

.services__text {
  @include reset;
  line-height: 21px;
}

@media (min-width: $tablet) {
  .services {
    @include reset;
    display: flex;
    flex-wrap: wrap;
  }

  .services__title {
    font-size: 21px;
    margin-bottom: 24px;
  }

  .services__item {
    width: calc(100% / 3);
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 159px;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 60px;
    }

    &:last-child {
      margin-bottom: 60px;
    }

    &::before {
      width: 75px;
      height: 72px;

      left: 50%;
      transform: translateX(-50%);
      top: 60px;
    }

    &--house {
      order: 0;
      padding-right: 35px;
      padding-left: 35px;
    }

    &--gift {
      order: 2;

      &::before {
        width: 64px;
      }
    }

    &--food {
      order: 1;
    }
  }
}

@media (min-width: $laptop) {
  .services__title {
    margin-bottom: 21px;
  }

  .services__item {
    padding-top: 160px;
    padding-right: 50px;
    padding-left: 50px;

    &:not(:last-child) {
      margin-bottom: 80px;
    }

    &:last-child {
      margin-bottom: 80px;
    }
  }
}
