.service {
  @include reset-list;
}

.service__title {
  @include reset;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.service__text {
  @include reset;
  font-size: 14px;
  line-height: 21px;
  color: $text-extra;
}
