.social {
  @include reset-list;

  display: flex;

  li {
    margin-right: 6px;
  }
}

.social__link {
  display: inline-block;
  width: 48px;
  height: 48px;

  vertical-align: middle;

  background-color: $blue;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--twitter {
    background-image: url("/img/icon-twitter.svg");
  }

  &--facebook {
    background-image: url("/img/icon-youtube.svg");
  }

  &--youtube {
    background-image: url("/img/icon-facebook.svg");
  }
}
