.social {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  max-width: 155px;
  margin: 0 auto;

  margin-bottom: 31px;
}

.social__item {
  margin-right: 6px;
  margin-bottom: 10px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.social__link {
  width: 46px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $main-color;

  &:hover {
    background-color: #669ec0;
  }

  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    & .social__icon {
      opacity: 0.3;
    }
  }
}

.social__icon {
  fill: #ffffff;
}

@media (min-width: $tablet) {
  .social {
    margin-bottom: 0;
  }
}
