.social {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  max-width: 155px;
  margin: 0 auto;

  margin-bottom: 27px;
}

.social__item {
  margin-right: 6px;
  margin-bottom: 10px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.social__link {
  display: inline-block;
  width: 46px;
  height: 48px;

  vertical-align: middle;

  background-color: $main-color;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }

  &--facebook {
    background-image: url("../img/icon-youtube.svg");
  }

  &--youtube {
    background-image: url("../img/icon-facebook.svg");

    &:active {
      background-color: #5496bd;
      opacity: 0.3;
    }
  }
}
//   //   &:hover {
//   // background-color: #669ec0;
//   //    }

//   //    &:focus {
//   // background-color: #669ec0;
//   //    }

//   //    &:active {
//   //     background-color: #5496bd;
//   //     color: rgba($extra-text, 0.3);
//   //    }
// }

@media (min-width: $tablet) {
  .social {
    margin-bottom: 0;
  }
}
