// .video {

// }

.video__text-wrapper {
  text-align: center;
  padding: 32px 10px;
}

.video__title {
  @include reset;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 28px;
}

.video__text {
  @include reset;
  line-height: 24px;
}

.video__content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  img {
    margin: auto;
  }
}

@media (min-width: $tablet) {
  .video__text-wrapper {
    padding: 0;
    margin-bottom: 60px;
  }

  .video__title {
    font-size: 30px;
    margin-bottom: 32px;
  }
}
