.video {
  margin-bottom: 78px;
}

.video__text-wrapper {
  margin-bottom: 33px;
  padding: 0 30px;

  text-align: center;
}

.video__title {
  @include reset;
  margin-bottom: 28px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.video__text {
  @include reset;
  line-height: 24px;
}

.video__content {
  position: relative;
}

.video__preview {
  background-image: url("../img/video-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 425px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }
}

@media (min-width: $tablet) {
  .video {
    padding: 0 60px;
  }

  .video__text-wrapper {
    margin-bottom: 79px;
    padding: 0;
  }

  .video__title {
    margin-bottom: 32px;

    font-size: 30px;
  }

  .video__preview {
    height: 500px;
    max-width: 1024px;
    background-image: url("../img/video-tablet@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }
}

@media (min-width: $laptop) {
  .video {
    padding: 0 200px; // хз вот как понять че лучше? такие большие паддинги или просто ширину в процентах для .video дать
    margin-bottom: 122px;
  }

  .video__text-wrapper {
    margin-bottom: 77px;
  }

  .video__preview {
    max-width: 1200px;
    background-image: url("../img/video-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }
}
