// colors

$blue: #81b3d2;
$black: #000000;
$light-grey: #eeeeee;
$grey: #333333;
$white: #ffffff;
$input-bg: #f2f2f2;

// breakpoints

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;

// fonts

$font: "PT Sans", "Arial", sans-serif;
