// colors

$main-blue: #81b3d2;
$text-black: #000000;
$light-grey-bg: #eeeeee;
$text-grey: #333333;
$text-white: #ffffff;
$input-bg: #f2f2f2;

// breakpoints

$mobile-only: 767px;
$tablet: 768px;
$desktop: 1200px;

// fonts

$main-font: "PT Sans", "Arial", sans-serif;
