// colors

$main-color: #81b3d2;

$basic-black: #000000;
$basic-white: #ffffff;

$main-text: #000000;
$sub-text: #333333;
$extra-text: #ffffff;

$features-bg: #eeeeee;
$input-bg: #f2f2f2;
$border: #d6d6d6;

// viewports

$mobile-s: 320px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

// containers

$mobile-container: 480px;
$tablet-container: 768px;
$laptop-container: 1024px;
$desktop-container: 1280px;

// fonts

$main-font: "PT Sans", "Arial", sans-serif;
