// colors

$main-color: #81b3d2;

$text-main: #000000;
$text-secondary: #ffffff;
$text-extra: #333333;

$features-bg: #eeeeee;
$input-bg: #f2f2f2;
$border: #e5e5e5;

// viewports

$mobile-s: 320px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

// containers

$mobile-container: 480px;
$tablet-container: 768px;
$laptop-container: 1024px;
$desktop-container: 1280px;

// fonts

$main-font: "PT Sans", "Arial", sans-serif;
